# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/
CanadianWeather.xcodeproj/xcuserdata/ronny.xcuserdatad
CanadianWeather.xcodeproj/xcuserdata/ronny.xcuserdatad/xcschemes/xcschememanagement.plist
CanadianWeather.xcodeproj/project.xcworkspace/xcuserdata/ronny.xcuserdatad/UserInterfaceState.xcuserstate
CanadianWeather.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CanadianWeather.xcodeproj/project.xcworkspace/xcshareddata/CanadianWeather.xccheckout
